body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2cece;

}

.outer {
  background-color: rgb(43, 43, 61);
  padding: 2.5rem;
  margin-top: 30px;
  border-radius: 10px;
  height: 40rem;
}

.main {
  background-color: antiquewhite;
  padding: 20px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 10px;
}

.instructions {
  margin-bottom: 1.875rem;
}

.buttons-holder {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  max-width: 16rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.buttons-holder button {
  border: solid 2px rgb(21, 22, 24);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 2.2rem;
  height: 2.2rem;
}

.roll {
  margin-top: 30px;
  background-color: rgb(160 160 248);
  padding: 10px;
  border-radius: 5px;
  border: solid 2px black;
  cursor: pointer;
  margin-bottom: 0.8rem;
}